<form (submit)="login()">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src="assets/images/log.png" alt="" width="100%">
      </div>
      <mat-card-title>Log4net Viewer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="60px">
          <mat-grid-tile>
            <mat-form-field [ngClass]="{'mat-form-field-invalid': invalidUrl}">
              <mat-select [placeholder]="'Protocol'" [(ngModel)]="protocol" name="protocol" [(value)]="protocol">
                <mat-option *ngFor="let type of ['http://', 'https://']" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3">
            <mat-form-field [ngClass]="{'mat-form-field-invalid': invalidUrl}">
              <input matInput placeholder="IP Address/Domain" [(ngModel)]="url" name="url">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      <mat-error *ngIf="invalidUrl">Invalid URL</mat-error>
      <mat-form-field [ngClass]="{'mat-form-field-invalid': invalidLogin}">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username">
      </mat-form-field>
      <mat-form-field [ngClass]="{'mat-form-field-invalid': invalidLogin}">
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
      </mat-form-field>
      <mat-error *ngIf="invalidLogin">Invalid Username or Password or not an Admin account!</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</form>
