.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav-container mat-sidenav-content {
  padding: 10px;
}
div.nav>button {
  margin-bottom: 15px;
}
div.nav button.refresh-button {
  float: right;
}
div.nav {
  position: absolute;
  left: 10px;
  right: 10px;
}
mat-grid-tile {
  overflow: inherit;
}
div.search-box {
  width: 100%;
}
div.search-box mat-form-field {
  padding-left: 0;
}
mat-checkbox {
  position: absolute;
  left: 0;
  top: 0;
}
mat-form-field {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
input.search {
  width: 100%;
}
mat-card.paginator {
  padding: 0;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 30px;
}
div.log-list {
  position: absolute;
  top: 120px;
  left: 10px;
  right: 10px;
  bottom: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition-duration: 0.15s;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
div.log-list.panel-is-open {
  top: 265px;
} 
div.log-list div {
  background: rgba(0, 0, 0, 0.3);
  height: 1000px;
}
div.sidenav {
  width: 400px;
  padding: 10px;
}
div.sidenav div.change-view {
  width: 100%;
}
div.sidenav button.logout {
  float: right;
}
div.info {
  margin-top: 30px;
}
div.info table {
  border-collapse: collapse;
  width: 100%;
}
div.info table tr:nth-child(even) {
  background-color: #f2f2f2;
}
div.info table tr:hover {
  background-color: #ddd;
}
div.info tr td:first-child {
  text-align: right;
  width: 80px;
}
div.info tr td:last-child {
  font-weight: bold;
}
div.info tr td {
  padding: 8px;
  border: 1px solid #ddd;
}