<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'">
    <div class="sidenav">
      <div class="change-view">
        <button mat-raised-button color="primary" (click)="changeView(true)" *ngIf="!isTableView">
          <span>Table View</span>
          <mat-icon>grid_on</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="changeView(false)" *ngIf="isTableView">
          <span>Normal View</span>
          <mat-icon>line_weight</mat-icon>
        </button>
        <button mat-raised-button class="logout" (click)="logout()" color="warn">
          <span>Log Out</span>
          <mat-icon>keyboard_tab</mat-icon>
        </button>
      </div>
      <div class="info">
        <table>
          <tbody>
            <tr>
              <td>Site</td>
              <td>{{site}}</td>
            </tr>
            <tr>
              <td>Username</td>
              <td>{{username}}</td>
            </tr>
            <tr>
              <td>Role</td>
              <td>{{role}}</td>
            </tr>
            <tr>
              <td>Expires In</td>
              <td>{{expiresTime | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="nav">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-raised-button class="refresh-button" (click)="refresh()">Refresh</button>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelIsOpen = true" (closed)="panelIsOpen = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Log Filter
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-grid-list cols="12" rowHeight="55px">
            <mat-grid-tile colspan="6">
              <div class="search-box">
                <mat-form-field>
                  <input matInput placeholder="Search" class="search" name="search" (keyup)="searchKeyup()" [(ngModel)]="search">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="6">
              <mat-form-field>
                <mat-select placeholder="Level" (change)="changeLevel()" [(value)]="level">
                  <mat-option *ngFor="let level of levels" [value]="level.value">
                    {{level.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="6">
              <mat-checkbox [color]="'primary'" (change)="changeStrictSearch()" [checked]="strictSearch">Exact Search</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile colspan="6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" (dateChange)="changeDate()" [(ngModel)]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="log-list" [ngClass]="{'panel-is-open': panelIsOpen}">
      <app-normal-view *ngIf="!isTableView" [logList]="logList"></app-normal-view>
      <app-table-view *ngIf="isTableView" [logList]="logList"></app-table-view>
    </div>

    <mat-card class="paginator">
      <mat-paginator [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="paging($event)">
      </mat-paginator>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>